@use "../helper";

.carousel__control-mobile {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    flex-wrap: nowrap;

    @include helper.vp-1280 {
        display: none;
    }
}

.carousel__container {
    position: relative;
}

.carousel__buttons-container-mobile {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.carousel__button {
    @include helper.carousel-button;
}

.carousel__button--upper {
    position: absolute;
    width: 43px;
    height: 43px;
    @include helper.vp-1280 {
        top: -37px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-90deg);
    }
}

.carousel__button--lower {
    position: absolute;
    width: 43px;
    height: 43px;
    @include helper.vp-1280 {
        bottom: -40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(90deg);
    }
}

.carousel__button--desktop {
    display: none;

    @include helper.vp-1280 {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: -22.5px;

        &.button--prev {
            right: auto;
            left: -22.5px;
        }
    }
}

.carousel__progress-bar {
    display: flex;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: helper.$color-default-white;
    max-width: 300px;
    
    @include helper.light-blur;
}

.carousel__progress-moving-part {
    display: flex;
    width: 18px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: helper.$color-pink;
    height: 100%;
}