@use "../helper.scss";
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;

  @include helper.vp-768 {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include helper.vp-1280 {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include helper.vp-1500 {
    padding-left: 180px;
    padding-right: 180px;
    max-width: 1500px;
  }
}
