$fz-default: 1.6rem;
$fz-modifier: 62.5%;

$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-roboto: "Roboto Condensed", "Arial", sans-serif;

$color-default-black:               #102654;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

$vp-768:                            768px;
$vp-1280:                           1280px;